@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    display: flex;
    flex-direction: column;
    .movieContainer{
        display: flex;
        justify-content: space-around;
        margin: 10px;
        .posterPath{
            width: 30%;
            height: auto;
            margin: 5px;
            border-radius: 5px;
            box-shadow: -7px -4px 22px -7px rgba(0,0,0,0.75);
        }
        .movieInformation{
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            .information{
                font-weight: 500;
            }
            .titles{
                color: #263238;
                font-weight: 700;
            }
            .title{
                margin-bottom: 0px;
                color: #171738;
                font-weight: 300;
                text-transform: uppercase;
                text-shadow: 6px 4px 14px rgba(165, 154, 135, 0.63);  
                text-align: center;  
            }
            .subtitle{
                font-weight: 700;
                text-align: center;  

            }
            .genres{
                display: flex;
                .list{
                    margin-left: 20px;
                    font-weight: 500;
                }
            }
            .languages{
                display: flex;
                .lang{
                    margin-left: 20px;
                    font-weight: 500;
                }
            }
            .synopsis{
                margin-bottom: 1rem;
                .textSummary{
                    text-align: center;
                    font-size: 1rem;
                    line-height: 1.8;
                    font-weight: 500;
                    margin-bottom: 1rem;

                }
            }
            .cast{
                display: flex;
                align-items: center;
                width: 100%;
                margin-left: 5px;
                .castImages{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    .castImage{
                        display: flex;
                        width: 50%;
                        padding: 5px 5px; 
                        border-radius: 40px;
                        box-shadow: -7px -4px 22px -7px rgba(0,0,0,0.75);
                    }
                }  
            }
            .buttons{
                margin: 20px;
                width: 50%;
                display: flex;
                align-self: center;
                justify-content: space-between;
                .button{
                    display: flex;
                    border: .5px solid;
                    align-items: center;
                    padding: 4px 20px;
                    border-radius: 50px;
                    background: #FFFFFF;
                    color: rgb(12, 12, 12);
                    margin: 0 2px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;
                    &:hover{
                        text-decoration: none;
                        background: #263238;
                        color: white;
                    }                    
                }
            } 

        }
    }
}
       




//             h2 {
//                 font-family: 'Montserrat', sans-serif;
//                 margin-bottom: 0px;
//                 color: #171738;
//                 font-weight: 300;
//                 text-transform: uppercase;
//                 text-shadow: 6px 4px 14px rgba(165, 154, 135, 0.63);    
//                }
//                .subtitle{
//                    margin-bottom: 10px;
//                }
//                .language{
//                    text-transform: uppercase;
//                }

//                .castContainer{
//                    display: flex;
//                    flex-direction: column;  
                   
//                    .castName{
//                     text-align: center;
//                     }
//                     .cast{
//                         display: flex;
//                         justify-content: space-between;
//                         align-content: space-between;
//                         width: 100%;
//                         margin: 5px 0;
//                         padding: 0;
//                         .characternames{
//                           font-size: 10px; 
//                           text-align: center; 
//                         }
//                     }
//                     .castImages{
//                         list-style: none;
//                         margin: 0;
    
//                         .castImage {
//                             width: 50px;
//                             height: 50px;
//                             object-fit: cover;
//                             background-color: transparent;
//                             border-radius: 50%;
//                             transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
//                             }
//                     }
                                  
//                } 

//                .buttons{
//                    display: flex;
//                    justify-content: center;
//                    margin-top: 10px;

//                 .button{
//                     display: flex;
//                     border: .5px solid;
//                     align-items: center;
//                     padding: 4px 20px;
//                     border-radius: 50px;
//                     background: #FFFFFF;
//                     color: rgb(12, 12, 12);
//                     margin: 0 2px;
//                     font-family: Arial, Helvetica, sans-serif;
//                     font-weight: 700;
//                     &:hover{
//                         text-decoration: none;
//                         background: #263238;
//                         color: white;
//                     }
//                     .icon{
//                       margin: auto 2px;
//                     background-color: rgba(241, 240, 240, 0.657);
//                     width: 15px;
//                     height: 15px;
//                     }
 
//                 }
//                }
              
//             }
//             p{
//             font-family: 'Montserrat', sans-serif;
//             font-weight: 700;
//             h6{
//                 font-family: 'Montserrat', sans-serif;
//                 font-weight: 500;
//                 text-shadow: -2px -1px 12px rgba(140, 170, 135, 0.72);
//             }
//         }
//     }
//     .closeBtn{
//         display: flex;
//         border: 1px solid black;
//         margin: 20px auto;
//         text-align: center;
//         padding: 5px 40px;
//         align-self: center;   
//         border-radius: 20px; 
//         font-size: 20px;
//         background-color: #FFFFFF;
        
//         &:hover{
//             color: white;
//             background: #263238;
//         }    
//     }
// }    


// @media screen and (min-width: 760px) and (max-width:  1024px ){
//     .modal {
//         width: 100%;
//         height: auto;
//         border: 2px solid green;
//     }

//     .paper {
//         width: 100% !important;
//         height: auto;

//         flex-direction: column;
//         align-items: center;

//         .posterPath {
//             width: 100%;
//         }
        
//         .overview {
//             width: 100% !important;
//             text-align: center;
//         }
//     }
// }
// @media screen and (min-width: 760px) and (max-width:  1024px ){

// }