@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    .movieContainer{
        margin: 10px;
        display: grid;
        grid-template-areas: 
        "PP MI";
        .posterPath{
            width: 95%;
            height: auto;
            margin: 5px auto;
            border-radius: 5px;
            box-shadow: -7px -4px 22px -7px rgba(0,0,0,0.75);
            grid-area: PP;
        }
        .movieInformation{
            width: 100%;
            height: auto;
            display: flex;
            padding: 0 5px;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            grid-area: MI;
            .information{
                font-weight: 500;
            }
            .titles{
                color: #263238;
                font-weight: 700;
            }
            .title{
                margin-bottom: 0px;
                color: #171738;
                font-weight: 300;
                text-transform: uppercase;
                text-shadow: 6px 4px 14px rgba(165, 154, 135, 0.63);  
                text-align: center;  
            }
            .subtitle{
                font-weight: 700;
                text-align: center;  

            }
            .genres{
                display: flex;
                .list{
                    margin-left: 20px;
                    font-weight: 500;
                }
            }
            .languages{
                display: flex;
                .lang{
                    margin-left: 20px;
                    font-weight: 500;
                }
            }
            .synopsis{
                margin-bottom: 1rem;
                .textSummary{
                    text-align: center;
                    font-size: 1rem;
                    line-height: 1.8;
                    font-weight: 500;
                    margin-bottom: 1rem;

                }
            }
            .cast{
                display: flex;
                align-items: center;
                width: 100%;
                margin-left: 5px;
                .castImages{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    .castImage{
                        display: flex;
                        width: 50%;
                        padding: 5px 5px; 
                        border-radius: 40px;
                        box-shadow: -7px -4px 22px -7px rgba(0,0,0,0.75);
                    }
                }  
            }
            .buttons{
                margin: 20px;
                width: 50%;
                display: flex;
                align-self: center;
                justify-content: space-between;
                .button{
                    display: flex;
                    border: .5px solid;
                    align-items: center;
                    padding: 4px 20px;
                    border-radius: 50px;
                    background: #FFFFFF;
                    color: rgb(12, 12, 12);
                    margin: 0 2px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;
                    &:hover{
                        text-decoration: none;
                        background: #263238;
                        color: white;
                    }                    
                }
            } 

        }
    }
}
       
@media screen and (max-width: 320px) {
    .container{
       .movieContainer{
        margin: 10px;
        display: grid;
        grid-template-areas: 
        "PP"
        "MI";
        .movieInformation{
            margin: 1rem;
            font-size: 2rem;
            .title{
                font-size: 4rem;
            }
            .synopsis{
                .textSummary{
                    font-size: 2rem;

                }
            }
        }
     
    }
}
}
@media screen and (min-width: 321px) and (max-width: 768px){
    .container{
        .movieContainer{
         margin: 10px;
         display: grid;
         grid-template-areas: 
         "PP"
         "MI";
         .posterPath{
            width: 70%;
            height: auto;
            margin: 10px auto;
            border-radius: 5px;
            box-shadow: -7px -4px 22px -7px rgba(0,0,0,0.75);
            grid-area: PP;
        }
        .movieInformation{
            width: 80%;
            height: auto;
            display: flex;
            padding: 0 5px;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 1rem auto;
            font-size: 2rem;
            .title{
                font-size: 4rem;
            }
            .synopsis{
                .textSummary{
                    font-size: 2rem;

                }
            }
            
        }
     }
 }
}
@media screen and (min-width: 769px) and (max-width:  1024px ){
    .container{
        .movieContainer{
         margin: 10px;
         display: grid;
         grid-template-areas: 
         "PP"
         "MI";
         .posterPath{
            width: 80%;
            height: auto;
            margin: 10px auto;
            border-radius: 5px;
            box-shadow: -7px -4px 22px -7px rgba(0,0,0,0.75);
            grid-area: PP;
        }
        .movieInformation{
            width: 90%;
            height: auto;
            display: flex;
            padding: 0 5px;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 1rem auto;
            font-size: 2rem;
            .title{
                font-size: 4rem;
            }
            .synopsis{
                .textSummary{
                    font-size: 2rem;

                }
            }
        }
     }
 }
}

// @media screen and (max-width: 320px) {
//     .container{
//         display: flex;
//         .movieContainer{
//             display: flex;
//             flex-direction: column;
//             border: 1px solid red;
//             .posterPath{
//                 margin: auto;
//                 margin-top: 1rem;
//                 width: 80%;
//             }
//             .movieInformation{
//                 width: 100%;
//                 align-items: center;
//                 .languages{
//                     margin: 10px;
//                     width: 100%;
//                     justify-content: center;
//                     .lang{
//                     }
//                 }
//                 .cast{
//                     border: 1px solid;
//                     flex-direction: column;
//                     flex-wrap: wrap;
//                     .castImages{
//                         border: 1px solid red;
//                         width: 40%;
//                         .castImage{
//                             width: 100%;
//                             margin: 1rem;
//                         }
//                     }
//                 }

//                 .buttons{
//                     margin: 1rem;
//                     display: flex;
//                     width: 100%;
//                     justify-content: space-between;
//                 }
//             }
          
//         }
//     }

// } 

// @media screen and (min-width: 321px) and (max-width: 768px){
//     .container{
//         display: flex;
//         .movieContainer{
//             display: flex;
//             flex-direction: column;
//             border: 1px solid rgb(36, 194, 97);
//             .posterPath{
//                 margin: auto;
//                 margin-top: 1rem;
//                 width: 80%;
//             }
//             .movieInformation{
//                 width: 100%;
//                 align-items: center;
//                 .languages{
//                     margin: 10px;
//                     width: 100%;
//                     .lang{
//                     }
//                 }
//                 .cast{
//                     border: 1px solid;
//                     flex-direction: column;
//                     flex-wrap: wrap;
//                     .castImages{
//                         border: 1px solid red;
//                         width: 40%;
//                         .castImage{
//                             width: 100%;
//                             margin: 1rem;
//                         }
//                     }
//                 }

//                 .buttons{
//                     margin: 1rem;
//                     display: flex;
//                     width: 100%;
//                     justify-content: space-between;
//                 }
//             }
          
//         }
//     }

// }
// @media screen and (min-width: 769px) and (max-width:  1024px ){
//     .container{
//         display: flex;
//         .movieContainer{
//             display: flex;
//             flex-direction: column;
//             border: 1px solid rgb(24, 21, 226);
//             .posterPath{
//                 margin: auto;
//                 margin-top: 1rem;
//                 width: 80%;
//             }
//             .movieInformation{
//                 width: 100%;
//                 align-items: center;
//                 .languages{
//                     margin: 10px;
//                     width: 100%;
//                     .lang{
//                     }
//                 }
//                 .cast{
//                     border: 1px solid;
//                     flex-direction: column;
//                     flex-wrap: wrap;
//                     .castImages{
//                         border: 1px solid red;
//                         width: 40%;
//                         .castImage{
//                             width: 100%;
//                             margin: 1rem;
//                         }
//                     }
//                 }

//                 .buttons{
//                     margin: 1rem;
//                     display: flex;
//                     width: 100%;
//                     justify-content: space-between;
//                 }
//             }
          
//         }
//     }

// }