.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    height: 470px;

}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .paper {
        width: 60%;
        padding: 3%;
        display: flex;
        justify-content: space-between;

        img {
            width: 45%;
        }

        .overview {
            width: 45%;

            h2 {
                margin-bottom: 40px;
            }
        }
    }
}    


@media only screen and (max-width: 600px) {
    .modal {
        width: 100%;
        border: 2px solid green;
    }

    .paper {
        width: 100% !important;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }
        
        .overview {
            width: 100% !important;
            text-align: center;
        }
    }
}