.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 50px 0;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
    outline: 0;
    height: 40px;
    min-width: 20%;
    font-size: 15px;
    background-color:rgba(27, 11, 11, 0.8);
    color: rgb(194, 177, 177);
    font-weight: bolder;
    border: solid;
    border-color:rgba(0, 255, 255, 0.5);
    &:hover{
        color: rgb(14, 12, 12);

    }
}

.pageNumber {
    color: white;
    margin: 0 20px;
    border-bottom: 2px solid white;
}