.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #1a1919;
    color: white;
    height: 100%;

    .userContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
        border-bottom: 1px solid gray;
        width: 80%;

        .image {
            border-radius: 50px;
        }

        h4 {
            margin-bottom: 5px;
        }

        h5 {
            margin-top: 0;
        }
    }
    
    .genreContainer {
        display: flex;
        flex-direction: column;
        height: 80%;
        overflow: auto;
    
        .genre {
            text-decoration: none;
            padding: 5% 10%;
            color: white;
    
            &:hover {
                background: rgba($color: #999999, $alpha: 0.9);
                color: black;
            }
        }
    }
}