.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;

    .imageContainer {
        // background: black;
        // border-radius: 10px;
        // position: relative;

        // .text {
        //     position: absolute;
        //     color: white;
        //     z-index: 2;
        //     bottom: 0;
        //     margin-left: 7%;
        // }

        img {
            border-radius: 10px;
            width: 350px;
            align-content: space-around;
            justify-content: center;
            cursor: pointer;
            // opacity: 0.7;
        }
    }

}
