.movie {
    padding: 10px 10px;
    display: flex;
    text-align: center;

    .links{
        font-weight: bolder;
        &:hover{
            text-decoration:none; 
            // color:#2b2b2b
        }
    }
    img {
        border-radius: 20px;
        height: 300px;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    
    h4 {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        &:hover{
            cursor: pointer;
            text-decoration: none;
        }
    }
  
}


// @media screen and (min-width: 600px) and (max-width:  960px ){
//     .movie{
//         border: 2px solid rgb(27, 25, 25);
//         margin: 0 auto;
//         display: flex;
//         justify-content: center;
//         img {
//             border-radius: 20px;
//             width: 70%;
//             height: auto;
//             display: flex;
//             justify-content: center;
//             margin: auto;
//             border: 1px solid green;
//         }
//         h4{
//             text-align: center;
//             color: red;
//             font-size: 1rem;
//             text-overflow: ellipsis;
            
//         }
//     }
// }
// @media screen and (min-width: 760px) and (max-width:  1024px ){
// .movie{
//     padding: 0;
//     border: 2px solid red;
//     img{
//         width: 80%;
//         height: auto;
//     }
//     h4 {
//         width: 100%;
//         text-align: center;

//     }
//     StarRatings{
//         width: 100%;
//         border: 2px solid blue;
//     }
// }

// }

// @media (min-width: 1025px) and (max-width: 1280px) {
//     .movie{
//         padding: 0;
//         border: 2px solid blue;
//         img{
//             width: 100%;
//             height: auto;
//         }
//         h4 {
//             width: 100%;
//             text-align: center;
    
//         }
//         StarRatings{
//             width: 100%;
//             border: 2px solid blue;
//         }
//     }
    
//   }