.userContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0 10%;
    padding-bottom: 5%;

    .image {
        border-radius: 50px;
    }

    h5 {
        margin-bottom: 5px;
    }

    h6 {
        margin-top: 0;
    }
}