.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin: 2% 0;
    
    .input {
        border: 1px solid gray;
        padding: 0 10%;
        border-radius: 50px;
        outline: none;
    }
}